@import url('https://googleapis.com');

* {
  font-family: 'Poppins', sans-serif;
}

.dd {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 90px;
  letter-spacing: 2px;
}

.span2 {
  color: #3C84F4;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.vida {
  margin-top: -40px;
  margin-left: 1.8em;
}

form {
  align-items: center;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}


.enter {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 40px;

  background-color: #ffffff;

  cursor: pointer;
  box-sizing: border-box;
  padding: 0 16px;

  background: linear-gradient(to right, #6b12ba 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.8s ease, color 0.8s ease;


  background-image:
    linear-gradient(to right, #ffffff 50%, #000000 50%),
    linear-gradient(to right, #6b12ba 50%, transparent 50%);


  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;

  border: 1.6px solid #6b12ba;
  cursor: pointer;
  font-size: 20px;
  overflow: hidden;
  border-radius: 50px 45px 50px 45px;
  padding: 10px 20px;
  margin-top: 50px;
}

.enter:hover {
  background-position: left bottom;
}

.enter:hover::before {
  width: 100%;
}

div input {
  border-radius: 50px;
  width: 201px;
  height: 38px;
  border: 1.6px solid #6821B4;
  outline: none;
  transition: border-color 0.3s ease;
  text-align: center;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
}

div input:focus {
  border-color: #4a0b82;
}

.preguntas {
  display: flex;
  flex-direction: row;
  gap: 15%;
  margin-top: 70px;
  margin-left: 20px;
}

.preguntas #Username::placeholder {
  position: relative;
  padding-right: 18px;
  color: rgb(168, 168, 168);
}

.preguntas #Password::placeholder {
  position: relative;
  padding-right: 18px;
  color: rgb(168, 168, 168);
}

.preguntas:focus {
  border-color: #4a0b82;
}

.preguntas ::placeholder {
  padding-left: 2rem;
}


form button {
  margin-top: 20%;
  margin-left: 32%;
  margin-right: 40%;
}

.barrita {
  margin-bottom: 80px;
  align-items: center;
}

.barrita-morada {
  background-color: #ffffff;
  height: 16px;
  width: 340px;
  border-radius: 50px;
  margin-inline-start: 37vw;
  margin-block-start: 8%;
  border: 1.6px solid #6b12ba;
  position: relative;
}

.barrita-morada::before {
  content: "";
  margin-left: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #6b12ba;
  border-radius: 50px 45px 45px 50px;

}

.re {
  font-size: 20px;
  font-weight: 400;
  margin-inline-start: 38vw;
  margin-block-start: 0%;
}

.imi {
  font-size: 20px;
  font-weight: 400;
  margin-inline-start: 51vw;
  margin-block-start: -3.2%;
}

.jeonn {
  font-size: 10px;
  font-weight: 400;
  margin-inline-start: 28vw;
  margin-block-start: -2%;
}

.azul {
  font-size: 10px;
  font-weight: 400;
  margin-inline-start: 1.5vw;
  margin-block-start: 4%;
  color: #4285f4;
}