*{
    margin: 0%;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 20%);
}
header{
    grid-row: 1;
    background-color: rgb(35, 218, 218);
    align-content: center;
}