@import url('https://googleapis.com');

*{
  font-family: 'Poppins', sans-serif;
}

.dd {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 90px;
  letter-spacing: 2px; 
}

.ii {
  color: #3a3939;
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-self:auto;
  padding-left: 30%;
  gap: 32px;
  margin-block-start: 4%;
}

.google, .github, .apple{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 186px;
  height: 61px;

  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0 16px;

  margin-left: 20px;  
}

.google {
  border: 1.6px solid #000000; 
}

.google:hover {
  cursor: pointer;
  border: 2px solid #6b12ba;  
}

.apple:hover {
  cursor: pointer;
  border: 2px solid #6b12ba;  
}

.github:hover {
  cursor: pointer;
  border: 2px solid #6b12ba;  
}


.google img {
  height: 40px;
  width: auto;
  margin-block-start: 15px;
}

.github {
  border: 1.6px solid #000000;
}

.github img {
  width: 45px;
  height: auto;
}

.apple {
  border: 1.6px solid #000000;
}

.apple img {
  width: 45px;
  height: auto;
}

.sss {
  font-size: 26px;
  color: #000000;
  font-weight: 700;
}

.ff {
  font-size: 38px;
  color: #000000;
  font-weight: 400;
}

.contenedor-1 {
  display: flex;
  flex-direction: column;
  align-self: auto;
  padding-left: 55%;
  gap: 32px;
  margin-block-start: -16%;
}

.notion, .vercel, .purple {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 186px;
  height: 61px;

  background-color: #ffffff;

  cursor: pointer;
  box-sizing: border-box;
  padding: 0 16px;

  margin-right: 120px;
}


.notion {
  border-radius: 50px;
  margin-top: -5%;
  border: 1.6px solid #000;
}

.notion img {
  width: 45px;
  height: auto;
}

.notion:hover {
  cursor: pointer;
  border: 2px solid #6b12ba;  
}

.vercel {
  border-radius: 50px;
  border: 1.6px solid #000;
}

.vercel:hover {
  cursor: pointer;
  border: 2px solid #6b12ba;  
}

.purple {
  background: linear-gradient(to right, #6b12ba 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.8s ease, color 0.8s ease;
  
  
  background-image: 
    linear-gradient(to right, #ffffff 50%, #000000 50%), 
    linear-gradient(to right, #6b12ba 50%, transparent 50%); 
  

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-text-fill-color: transparent; 

  border: 1.6px solid #6b12ba;
  cursor: pointer;
  font-size: 26px;
  overflow: hidden;
  border-radius: 50px 45px 50px 45px;
  padding: 10px 20px; 
}

.purple:hover {
  background-position: left bottom;
}

.purple:hover::before {
  width: 100%;
}

.pp {
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 28.5px;
  color: #000000;
  font-weight: 500;
  margin-block-start: 6px;
  margin-left: 10px;
}

.ooo {
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 28.5px;
  color: #000000;
  font-weight: 500;
  margin-block-start: -10px;
  margin-left: -4px; 
}


.barrita {
  margin-bottom: 80px;
  align-items: center;
}

.barrita-morada {
  background-color: #ffffff;
  height: 16px;
  width: 340px;
  border-radius: 50px;
  margin-inline-start: 37vw;
  margin-block-start: 2.9%;
  border: 1.6px solid #6b12ba;
  position: relative;
}

.barrita-morada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #6b12ba;
  border-radius: 50px 45px 45px 50px;

}

.re {
  font-size: 20px;
  font-weight: 400;
  margin-inline-start: 38vw;
  margin-block-start: 0%;
}

.imi {
  font-size: 20px;
  font-weight: 400;
  margin-inline-start: 51vw;
  margin-block-start: -3.2%;
}

.jeonn {
  font-size: 10px;
  font-weight: 400;
  margin-inline-start: 28vw;
  margin-block-start: -2.02%;
}

.azul {
  font-size: 10px;
  font-weight: 400;
  margin-inline-start: 1.5vw;
  margin-block-start: 4%;
  color: #4285f4;
}