@import url('https://googleapis.com');

*{
  font-family: 'Poppins', sans-serif;
}


:root {
    --naranja: #FF8800;
    --azul: #3C84F4;
    --amarillo: #FFC107;
    --verde: #16BA00;
}

p {
    color: #4d4d4d;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 2em;
    border-bottom: 1px solid #cdcdcd;
    margin-top: -1.2em;
    margin-bottom: -2.7em;
    background-color: #c56f6f;
    height: 50px;
}
.logo {
    display: flex;
    gap: 10px;
    color: #000000;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0;
    margin-bottom: 0em;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-bottom: -1em;
    margin-top: 0;
    padding: 0;
}
.nav-links li a {
    color: #4d4d4d;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0;
}
.nav-links li a:hover {
    color: #000000;
}
.auth-links {
    display: flex;
    gap: 15px;
    margin-bottom: -1em;
    margin-top: 0;
    padding: 0;
}
.login {
    color: #4d4d4d;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
}
.login:hover {
    color: #000000;
}
.signup {
    background-color: var(--azul);
    color: #fff;
    padding: 10px 20px;
    border-radius: 0.7em;
    text-decoration: none;
    font-size: 1.2em;
}
.signup:hover {
    background-color: #2a6cd1;
}
main {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0em;
}
.hero {
    display: flex;
    gap: 2em;
    margin-top: 3em;
    margin-bottom: 3em;

}
.hero-content {
    gap: 1em;
    flex: 1;
    margin-left: 1.7em;
    
}
main h1 {
    font-size: 5em;
    color: #000000;
    max-width: 25em;
    font-weight: bolder;
    margin-top: 0em;
    font-size: 67px;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,  
    -1px  1px 0 #000,  
     1px  1px 0 #000; 
}

h1 .highlight2 {
    color: var(--azul);
    text-decoration: underline;
    text-decoration-color: var(--azul);
    text-decoration-thickness: 0.2em;
    text-underline-offset: -0.1em;
    text-decoration-skip-ink: none;
    text-decoration-color: #3c83f4a6;
    text-shadow: none;
}
    

.text-hero {
    font-size: 1.2em;
    max-width: 25em;
    margin-top: -2.2em;
    margin-bottom: 0em;
}
.highlight {
    font-size: 1.2em;
    max-width: 50%;
    margin-top: 0em;
    color: #000000;
    font-weight: bold;
}
.buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.begin {
    background-color: var(--azul);
    color: #fff;
    padding: 15px 30px;
    border-radius: 0.7em;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}
.begin:hover {
    background-color: #2a6cd1;
}
.simu {
    background-color: transparent;
    color: #000;
    padding: 15px 30px;
    border-radius: 0.7em;
    border: 2px solid var(--azul);
    font-size: 1.2em;
    cursor: pointer;
}
.simu:hover {
    background-color:#cdcdcd;
}
.stats {
    display: flex;
    gap: 2em;
    margin-top: -1em;
}
.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats-item-number1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--azul);
}
.stats-item-number2 {
    font-size: 2em;
    font-weight: bold;
    color: var(--amarillo);
}
.stats-item-number3 {
    font-size: 2em;
    font-weight: bold;
    color: var(--naranja);
}
.stats-item-txt {
    font-size: 1.2em;
    color: #4d4d4d;
    margin-top: -1.4em;
}
.modules-squares {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 1em;
    margin-top: 0;
    max-width: 40%;
    max-height: 26em;
    margin-top: 3em;
    margin-right: 2em;
    border: 1px dashed #cdcdcd;
    border-radius: 0.7em;
    padding: 1em 1em;

}
.module {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 1em;
    border: 1px solid #ccc;
    border-radius: 0.7em;
}
.module-icon-maths {
    font-size: 3em;
    margin-bottom: 0.5em;
    background-color: #ba3b004b;
    border-radius: 0.3em;
    padding: 0.2em;
}
.module-icon-english {
    font-size: 3em;
    margin-bottom: 0.5em;
    background-color: #ffc1074b;
    border-radius: 0.3em;
    padding: 0.2em;
}
.module-icon-science {
    font-size: 3em;
    margin-bottom: 0.5em;
    background-color: #16ba004b;
    border-radius: 0.3em;
    padding: 0.2em;
}
.module-icon-reading {
    font-size: 3em;
    margin-bottom: 0.5em;
    background-color: #3c84f44b;
    border-radius: 0.3em;
    padding: 0.2em;
}
.module-title {
    font-weight: bold;
    margin-top: 0em;
    text-align: left;
    color: #000000;
}
.module-description {
    font-size: 0.9em;
    text-align: left;
    color: #4d4d4d;
    margin-top: -1em;
}
.module-button-math {
    background-color: var(--naranja);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    margin-top: 0em;
    cursor: pointer;
    align-self: center;
}
.module-button-english {
    background-color: var(--amarillo);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    margin-top: 0em;
    cursor: pointer;
    align-self: center;
}
.module-button-science {
    background-color: var(--verde);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    margin-top: 0em;
    cursor: pointer;
    align-self: center;
}
.module-button-reading {
    background-color: var(--azul);
    color: #fff;
    padding: 0.2em 1em;
    border-radius: 0.7em;
    border: none;
    font-size: 1em;
    margin-top: 0em;
    cursor: pointer;
    align-self: center;
}
.module-button-math:hover {
    background-color: #a05500e3;
}
.module-button-english:hover {
    background-color: #e0a800;
}
.module-button-science:hover {
    background-color: #12a000;
}
.module-button-reading:hover {
    background-color: #2a6cd1;
}
.content {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 3em;
    flex-direction: column;
}
.content-features {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-bottom: 3em;
}
.content-features .features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid ;
    border-radius: 0.7em;
    max-width: 20em;
}
