@import url('https://googleapis.com');

:root {
    --naranja: #FF8800;
    --azul: #3C84F4;
    --amarillo: #FFC107;
    --verde: #16BA00;
}

p {
    color: #4d4d4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fcfcfc;
}


nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    border-bottom: 1px solid #cdcdcd;
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    background-color: white;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    font-size: 25px;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.nav-links li a {
    color: #000000a7;
    text-decoration: none;
    background-color: white;
}

.nav-links li a:hover {
    color: #000000;
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    margin-right: -300px;
    font-family: 'Inter', sans-serif;
    background-color: white;
}

.login {
    color: #4d4d4d;
    text-decoration: none;
    padding: 5px 10px;
    background-color: white;
}

.login:hover {
    color: #000000;
}

.signup {
    background-color: #6b12ba;
    color: #fff;
    padding: 8px 16px;
    border-radius: 0.7em;
    text-decoration: none;
}

.signup:hover {
    background-color: #5c109e;
}